.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Áp dụng cho toàn bộ trang */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track (phần nền của scrollbar) */
::-webkit-scrollbar-track {
  background: #1e1e1e; /* màu nền tối */
  border-radius: 4px;
}

/* Thumb (cái thanh kéo được) */
::-webkit-scrollbar-thumb {
  background: #555; /* màu chính của thanh */
  border-radius: 4px;
}

/* Hover lên thanh kéo */
::-webkit-scrollbar-thumb:hover {
  background: #777;
}
